*{
    margin: 0;
    padding: 0;
}
#form{
    position:relative;
    top: 5%;
    left: 40%;
}

#form input{
    background-color: grey;
    border: none;
    height: 40px;
    width: 220px;
    color: rgb(25, 25, 25);
    font-size: larger;
    padding-left: 10px;
    font-weight:bolder;
    border-radius: 3px;
}

input[type=text] {

    border:none;
    outline: none;
  }
/*   
  input[type=text]:focus {
    background-color: lightblue;
  } */
body{
    height: 100vh;
    width: 100vw;
    color: white;
    overflow: hidden;
}
body {
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--avatar-url);
    background-size:cover;
    background-repeat: no-repeat;
    filter: blur(100px); /* Adjust the blur radius as needed */
    z-index: -1;
}

body button{
    padding: 0.8em;
    border: none;
    border-radius: 3px;
}

main{
    position: relative;     
    /* border: 2px solid red; */
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    top:10%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 200px;
    flex-wrap: wrap;
    height: 100vh;
    /* overflow: hidden; */
}

.avatar{
    position: absolute;
    border-radius:50%;
    width: 20%;
    min-width: 10%;
    border: 2px solid;
    left: 18%;
    top: 0%;
}

.user-info{
    width: 100%;
    /* border: 2px solid; */
    position:absolute;
    z-index: 1;
    top: 0%;
    /* overflow: hidden */
    
}

.user-info h2{
    position: relative;
    left: 42%;
    font-size:200%;
    padding-top: 1%;
    /* border: 2px solid cyan; */
}
.user-info p{
    /* border: 2px solid yellow; */
    position: relative;
    left: 42%;
    font-size:21px;
    opacity: 0.5;
    
}
.logo{
    height: 40px;
    position: absolute;
    top: 5%;
    left: 33%;
}
.info{
    /* border: 2px dotted red; */
    position:relative;
    top: 1%;
    left: 11%;
    opacity: 0.6;
}

.info li{
    display: inline-block;
    padding: 2%;
    padding-top: 2%;
    position: relative;
    top: 1%;
    left: 29%;
}

.repos{
    width: 50vw;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 41vw;
}

.repo {
    /* border: 2px solid; */
    color: rgb(32, 30, 30);
    background: gainsboro;
    text-decoration: none;
    /* position: relative; */
    left: 50%;
    padding: 9px;
    border-radius: 2px;
    margin:12px;    
}

@media only screen and (max-width: 600px) {
    .repos{
        width: 90vw;
        /* border: 2px solid red; */
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        padding: 14px;
        /* justify-content: space-between; */
        margin: 0;
        left: 0;
        /* left: 41vw; */
    }   

    .repo{
        margin: 4px;
        opacity: 0.8;
    }
    .user-info h2{
        /* position: relative; */
        left: 30%;
        font-size:150%;
        padding-top: 1%;
        /* border: 2px solid cyan; */
    }
    .user-info p{
        left: 30%;
    }

    .info{
        left: -20%;
        font-weight: 900;
    }
    .avatar{
        position:absolute;
        border-radius:50px;
        width: 20px;
        /* min-width: 10%; */
        border: 2px solid;
        left: 10%;
        top: 1%;
    }

    #form{
        left: 31%;
    }
    .logo{
        height: 40px;
        position: absolute;
        top: 5%;
        left: 13%;
    }
  }